<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^cadastro/?$ /build/pages/register/index.php [NC,L]
  RewriteRule ^login/?$ /build/pages/login/index.php [NC,L]
  RewriteRule ^departamentos/?$ /build/pages/departments/index.php [NC,L]
  RewriteRule ^departamentos/cadastrar?$ /build/pages/departments/create/index.php [NC,L]
  RewriteRule ^departamentos/editar?$ /build/pages/departments/edit/index.php [NC,L]
  RewriteRule ^esqueci-minha-senha/?$ /build/pages/forgot-my-password/index.php [NC,L]
  RewriteRule ^criar-chamado/?$ /build/pages/called/create/index.php [NC,L]
  RewriteRule ^alterar-dados/?$ /build/pages/change-data/index.php [NC,L]
  RewriteRule ^/?$ /build/pages/called/index.php [NC,L]
  RewriteRule ^editar?$ /build/pages/called/edit/index.php [NC,L]
</IfModule>