.create {
	background: #e9e9e9;

	.list-content-create {
		margin-top: 100px;
		background-color: #fff;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
		border-radius: 2px;
		padding: 20px 20px;

		.input-lg {
			font-size: 14px;
		}
	}

	.navbar-default {
		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
	}

	.form-register {
		padding: 30px 30px 40px;
	}

	.btn-send {
		float: right;
	}

	.title-called {
		margin: 0;
		padding: 0px 0 10px;
		border-bottom: 1px solid #eee;
	}

	.test {
		margin: 0 auto;
	}
}